*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
.idea/.gitignore
.idea/inspectionProfiles/
.idea/location.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
venv/
data/settings.conf
